<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NPC3Q8J');</script>
<!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--FACEBOOK-->
    <meta property="og:image" content="https://lnza.me/mockups/git-mock.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lnza.me/"/>
    <meta property="og:title" content="Lnza.me" />
    <meta property="og:description" content="Links de Musica Avanzados" />
    <!-- GOOGLE ANALYTICS -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78574823-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-78574823-2');
</script>
<!-- SITE DATA -->
    <link href="favicon.jpg" rel="shortcut icon"/>
    <link rel="stylesheet" href="https://lnza.me/STYLES/styles.css" />
    <link rel="stylesheet" href="https://lnza.me/STYLES/album-styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Lnza.me - Links de Musica Avanzados</title>
    
        
    <!-- Hotjar Tracking Code for http://lnza.me -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1359249,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    
</head>
<body>
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPC3Q8J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <!-- FB JS -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=243349069097660&autoLogAppEvents=1"></script>
      <!-- END FB JS -->
    <div class="container-fluid maxx">

      <!-- DESKTOP NAV -->
        <nav class="navbar navbar-expand navLnza bg-none">
            <a class="navbar-brand" href="#"><i class="fas fa-sliders-h"></i> <span class="logoText">Lnza.me</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/english_landing">English<span class="sr-only">(current)</span></a>
                    </li>
                <li class="nav-item active">
                  <a class="nav-link desktopNav" href="#ejemplo">Ejemplo<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link desktopNav" href="#precios">Precios </a>
                </li>
               <a href="#ordena">
                 <button class="btn btn-ordenaNav" type="button">Ordena</button>
               </a>
              
                 
              
            </div>
          </nav>
        <section class="secDark">
          <!-- TITLE -->
        <div class="jumbotron jumbotron-fluid  jumboSmall">

            <div class="container">
              <h1 class="display-1"> <i class="fas fa-sliders-h"></i> <span class="logoText">Lnza.me</span></h1>
              <p class="lead">¡Links avanzados para tu musica!</p>
              <img class="img-fluid" src="mockups/device-mock-trans.png">
            </div>
          </div>
        </section>
      
          <!-- END SEC DARK -->
          <!-- SEC Red -->
          <section class="secRed" id="ejemplo">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="jumbotron jumbotron-fluid jumboSmall">
                    <div class="container centerPad">
                      <!-- <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p> -->
                      <h1 class="display-4 jumboSmall"><span class="logoText">1 Link</span></h1>
                      <p class="lead">¡Toda tu musica<br>Todas Pantallas!</p>
                   
                    </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <img class="img-fluid" src="/mockups/stores-mock.png">
              </div>
            </div>
          
          </section>
          <section class="secLight">
 <!-- GALLERY • Mobile Only -->
       <div class="row">
         <!-- LEFT -->
         <div class="col-sm-12 col-md-6 rowPad">
           <div class="row">
             <!-- TOP LEFT -->
             <div class="col-sm-12">
               <p>&nbsp;</p>
               <h1>¿Como Funciona?</h1>
               <h2 class="dull"><span class="highLight">L</span>a<span class="highLight">n</span><span class="highLight">z</span><span class="highLight">a</span><span class="highLight">m</span>i<span class="highLight">e</span>nto</h2>
               <p>lnza.me es una nueva plataforma para ayudar, musicos independientes y disqueras chicas a medianas presentar sus lanzamientos. Ahora con un solo link puedes compartir todas sus plataformas y generar mas streams!</p>
             </div>
             <!-- BOTTOM -->
             <div class="col-sm-12">
               <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                 <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">1. Tus Redes</a>
                 <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">2. Tus Links</a>
                 <a class="nav-link " id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">3. Tu Musica</a>
                <hr class="hrStyle">
                
               </div>
                

             </div>
           </div>
         </div>
         <!-- RIGHT -->
         <div class="col-sm-12  col-md-6">   <div class="col-12">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><img class="img-fluid" src="/mockups/phone-fan-1.png"></div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><img class="img-fluid" src="/mockups/phone-fan-2.png"></div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><img class="img-fluid" src="/mockups/phone-fan-3.png"></div>
              
            </div>
          </div></div>
       </div>

          </section>
          <section class="secDark" id="precios">
            
              <div class="jumbotron jumbotron-fluid ">

                  <div class="container">
                    <h1 class="display-4"> $7 USD por Album</h1>
                   <p class="lead"></p>
                  </div>
                </div>
                <section class="">
                  <div class="row">
                    <div class="col"></div>
                    <div class="col-sm-10 col-md-10 col-lg-6">
                      
                      <div class="card" style="width: 19rem;">
                        <!-- <img src="" class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h4 class="card-title display-4">¡Descarga!</h4>
                          <p class="card-text lead">Juanes - Loco De Amor</p>
                          
                         <img src="https://lnza.me/mockups/juanes.jpg" class="img-fluid">
                          <p class="card-text cta">haz click abajo</p>
                        </div>
                        <!-- itunes -->
                        <div class="row rowStyle">
                          <div class="col-6 col-sm-6"> <a href="https://itunes.com" target="_blank">
                           <img src="/assets/img/logos/itunes.jpg" class="imgStore">
                          </a></div>
                          <div class="col-6 col-sm-6 rowPad">
                              <a href="https://itunes.com" target="_blank">
                                  <button class="btn btn-ordena" type="button"><i class="fas fa-compact-disc"></i> Descarga</button>
                                </a>
                          </div>
                        </div>
                        <hr>
                        <!-- pandora -->
                        <div class="row rowStyle">
                            <div class="col-6 col-sm-6"> <a href="https://pandora.com" target="_blank">
                             <img src="/assets/img/logos/pandora.jpg" class="imgStore">
                            </a></div>
                            <div class="col-6 col-sm-6 rowPad">
                                <a href="https://pandora.com" target="_blank">
                                    <button class="btn btn-ordena" type="button"><i class="fas fa-headphones-alt"></i> Escucha</button>
                                  </a>
                            </div>
                          </div>
                          <hr>
                          <!-- spotify -->
                          <div class="row rowStyle">
                              <div class="col-6 col-sm-6"> <a href="https://spotify.com" target="_blank">
                               <img src="/assets/img/logos/spotify.jpg" class="imgStore">
                              </a></div>
                              <div class="col-6 col-sm-6 rowPad">
                                  <a href="https://spotify.com" target="_blank">
                                      <button class="btn btn-ordena" type="button"><i class="fas fa-headphones-alt"></i> Escucha</button>
                                    </a>
                              </div>
                            </div>
                            <hr>
                            <!-- google play -->
                            <div class="row rowStyle">
                                <div class="col-6 col-sm-6"> <a href="https://play.google.com" target="_blank">
                                 <img src="/assets/img/logos/google-play.jpg" class="imgStore">
                                </a></div>
                                <div class="col-6 col-sm-6 rowPad">
                                    <a href="https://play.google.com" target="_blank">
                                        <button class="btn btn-ordena" type="button"><i class="fas fa-compact-disc"></i> Descarga</button>
                                      </a>
                                </div>
                              </div>
                              <hr>
                              <!-- youtube -->
                              <div class="row rowStyle">
                                  <div class="col-6 col-sm-6"> <a href="https://youtube.com" target="_blank">
                                   <img src="/assets/img/logos/youtube.jpg" class="imgStore">
                                  </a></div>
                                  <div class="col-6 col-sm-6 rowPad">
                                      <a href="https://youtube.com" target="_blank">
                                          <button class="btn btn-ordena" type="button"><i class="fas fa-headphones-alt"></i> Escucha</button>
                                        </a>
                                  </div>
                                </div>
                                <hr>
                                <!-- amazon -->
                                <div class="row rowStyle">
                                    <div class="col-6 col-sm-6"> <a href="https://amazon.com" target="_blank">
                                     <img src="/assets/img/logos/amazon-music.jpg" class="imgStore">
                                    </a></div>
                                    <div class="col-6 col-sm-6 rowPad">
                                        <a href="https://amazon.com" target="_blank">
                                            <button class="btn btn-ordena" type="button"><i class="fas fa-compact-disc"></i> Descarga</button>
                                          </a>
                                    </div>
                                  </div>
                                  <hr>
                                  <!-- tidal -->
                                  <div class="row rowStyle">
                                      <div class="col-6 col-sm-6"> <a href="https://tidal.com" target="_blank">
                                       <img src="/assets/img/logos/tidal.jpg" class="imgStore">
                                      </a></div>
                                      <div class="col-6 col-sm-6 rowPad">
                                          <a href="https://tidal.com" target="_blank">
                                              <button class="btn btn-ordena" type="button"><i class="fas fa-headphones-alt"></i> Escucha</button>
                                            </a>
                                      </div>
                                    </div>
                                    <hr>
                                    <!-- deezer -->
                                    <div class="row rowStyle">
                                        <div class="col-6 col-sm-6"> <a href="https://deezer.com" target="_blank">
                                         <img src="/assets/img/logos/deezer.png" class="imgStore">
                                        </a></div>
                                        <div class="col-6 col-sm-6 rowPad">
                                            <a href="https://deezer.com" target="_blank">
                                                <button class="btn btn-ordena" type="button"><i class="fas fa-headphones-alt"></i> Escucha</button>
                                              </a>
                                        </div>
                                      </div>
                                      <hr>
                                      <!-- claro -->
                                      <div class="row rowStyle">
                                          <div class="col-6 col-sm-6"> <a href="https://claromusica.com/" target="_blank">
                                           <img src="/assets/img/logos/claro-musica.png" class="imgStore">
                                          </a></div>
                                          <div class="col-6 col-sm-6 rowPad">
                                              <a href="https://claromusica.com/" target="_blank">
                                                  <button class="btn btn-ordena" type="button"><i class="fas fa-headphones-alt"></i> Escucha</button>
                                                </a>
                                          </div>
                                        </div>
                                        <hr>
                                          <!-- claro -->
                                      <div class="row rowStyle">
                                        <div class="col-6 col-sm-6"> <a href="https://iheartradio.com/" target="_blank">
                                         <img src="/assets/img/logos/iheartradio.png" class="imgStore">
                                        </a></div>
                                        <div class="col-6 col-sm-6 rowPad">
                                            <a href="https://iheartradio.com/" target="_blank">
                                                <button class="btn btn-ordena" type="button"><i class="fas fa-headphones-alt"></i> Escucha</button>
                                              </a>
                                        </div>
                                      </div>
                        <div class="card-body">
                          <!-- <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a> -->
                        </div>
                      </div>
                      <p class="lead">
                          <!-- <a href="https://lnza.me/"><i class="fas fa-sliders-h"></i> lnza.me</a> -->
                      </p>
                    </div>
                    <div class="col"></div>
                  </div>
                  <hr>
             </section>       
          </section>
          
          <!-- <svg width="100%" height="96px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
          <path d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"></path>
        </svg>
           -->
<!-- FORM -->
<section class="secLight" id="ordena">
  
<div class="row">
  
  <div class="col"></div>
  <div class="col-sm-6 col-md-6">
      <div class="jumbotron jumbotron-fluid footerJumbo">
          <div class="container">
            <h1 class="display-4"> <i class="fas fa-sliders-h"></i> <span class="logoText"> Lnza.me</span></h1>
          </div>
          
        </div>
        <div class="card" style="width: 18rem;">
        
          <div class="card-body">
              <p class="lead"></p>
              <h4 class="card-title display-5">¡Ordena tu link hoy!</h4>
  
        <div class="fb-page fbFrame" data-href="https://www.facebook.com/lnza.me.musica/" data-tabs="messages"  
        data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/lnza.me.musica/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lnza.me.musica/">lnza.me</a></blockquote></div>
            </div>
            </div>
        <P>&nbsp;</P>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="2KTYBGKZ4LSS6">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          <p><sub>
            <a href="https://venmo.com/code?user_id=1986594735128576192" target="_blank" class="footerA">VENMO</a> • <a href="sms:+15599788988" class="footerA">APPLE PAY</a></sub></p>
        </form>
        <label for="basic-url">¡Cada orden lleva link personal!</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://lnza.me/</span>
          </div>
        
          <input type="text readonly" class="form-control" placeholder="TuNombre">
        </div>
     <!-- <form id="contact-form" method="post" action="contact.php" role="form">
          <div class="form-group">
          
              <label for="form_email">Correo Electronico</label>
              <input id="form_email" type="email" name="email" class="form-control" placeholder="nombre@disquera.com" required="required" data-error="Valid email is required.">
              
            
          </div>
          <div class="form-group">
            <label for="cantidad">Cuantos Discos ocupas?</label>
            <select class="form-control" id="cantidad">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5+</option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="message">Nombre de Artista y Album/Sencillo</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-send" value="Enviar">Enviar</button>
        </form>  -->
        
  </div>
  <div class="col"></div>
</div>

       </section>

<footer >
  <p>
    <a href="https://entendy.com/portfolio/" target="_blank" class="footerA">© Ricardo Bautista Digital 2019 </a>
  </p>
</footer>       
       
        <!-- CLOSING DIV -->
    </div>

    <!-- CLOSING BODY SCRIPTS-->
  <!-- WhatsHelp.io widget -->
<script type="text/javascript">
  (function () {
      var options = {
          whatsapp: "5599788988", // WhatsApp number
          sms: "5599788988", // Sms phone number
          call_to_action: "¡Ordena Hoy!", // Call to action
          button_color: "#FF6550", // Color of button
          position: "right", // Position may be 'right' or 'left'
          order: "whatsapp,sms", // Order of buttons
      };
      var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script>
<!-- /WhatsHelp.io widget -->
<span class="login">
<%= link_to '.', artists_path %>
</span>
    <script src="./js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha256-dHf/YjH1A4tewEsKUSmNnV05DDbfGN3g7NMq86xgGh8=" crossorigin="anonymous"></script>
</body>
</html>
